<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<th:block th:include="res_inc::head"></th:block>
<title th:text=#{404}></title>
</head>
<body class="grey">
	<div class="ui grid container">
		<div class="middle aligned row">
			<div class="column">
				<h2 th:text=#{404}></h2>
				<a class="ui large button" th:href="@{/}" th:text=#{to_main}></a>
			</div>
		</div>
	</div>
</body>
</html>